name: build

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: Build
        run: |
          sed -i -e 's/\r$//' mvnw && chmod +x mvnw
          ./mvnw clean package -DskipTests=true
          ls -al target/
      - name: Tag
        id: tag
        env:
          XX: ''
        shell: bash
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          TAG=v$(TZ='Asia/Singapore' date +%Y%m%d-%H%M)
          git tag -a $TAG -m "Published version $TAG" ${GITHUB_SHA}
          git push origin $TAG
          echo "new_tag=$TAG" >> $GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/mjar.jar
          tag_name: ${{ steps.tag.outputs.new_tag }}